html {
	background-color: #111;
}

body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #f3f3f3;
}

a {
	color: #f3f3f3;
	text-decoration: none;
}

header {
	background-color: #1d1d1d;
	padding-top: 25px;
}

header > a {
	margin: auto;
	display: table;
	text-align: center;
	margin-bottom: 40px;
}

header a > h2 {
	text-shadow: 0px 0px 30px #fff;
	font-size: 30px;
}

header div {
	padding: 10px 0px;
	border-top: 1px dashed #444;
	border-bottom: 1px solid #323232;
}

header nav {
	margin: auto;
	display: block;
	max-width: 1080px;
}

header nav > a {
	margin-right: 30px;
	border-right: 1px solid #2f2f2f;
	padding-right: 35px;
}

header nav > a:last-child {
	border-right: none;
}

main {
	margin: auto;
	max-width: 1080px;
}

main > h2 {
	margin-top: 35px;
}

main > p {
	border-bottom: 1px dotted #3e3e3e;
	padding-bottom: 35px;
	margin-bottom: 35px;
}

main > nav {
	margin-bottom: 35px;
}

main > nav > a {
	display: inline-block;
	border: 1px solid #222;
	background-color: #222;
	text-align: center;
	padding: 6px 10px;
	border-radius: 3px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td {
	padding: 8px 10px;
	border: 1px solid #282828;
}

table td > a {
	display: block;
}

table tr:first-child {
	cursor: default;
	opacity: 0.7;
}

article {
	padding: 8px 10px;
	border: 1px solid #282828;
	border-bottom: none;
}

article > p:first-of-type {
	margin-bottom: 40px;
}

article > nav {
	margin-top: 60px;
	border-top: 1px dotted #333;
	padding-top: 5px;
}

div.message {
	background-color: #6e3333;
	padding: 14px;
	border-radius: 3px;
	margin-bottom: 35px;
}

form {
	padding: 8px 10px;
	border: 1px solid #282828;
}

form > label {
	cursor: pointer;
	display: block;
	margin: 20px 0px;
	opacity: 0.7;
}

input {
	font-family: arial, sans-serif;
	font-size: 14px;
}

input[type=text], input[type=password] {
	color: #f3f3f3;
	padding: 8px 10px;
	border: 1px solid #282828;
	border-radius: 3px;
	background-color: transparent;
	width: 300px;
}

input[type=submit] {
	color: #f3f3f3;
	cursor: pointer;
	margin-top: 40px;
	margin-bottom: 20px;
    display: block;
    width: 100%;
    background: none;
    border: 0;
    border-top: 1px solid #282828;
    padding-top: 20px;
}

textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 250px;
}